<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{headerTitle}}</title>
</head>
<body>
<h1>{{pageTitle}}</h1>
<p>Updating the Site.....we'll be right back!</p>
<p>{{welcomeMessage}}</p>
</body>
</html>
